.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.docsSummary {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.docCardWrapper {
  margin-bottom: 2rem;
}

.docCard {
  height: 100%;
  transition: all 0.3s;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none !important;
  color: var(--ifm-font-color-base) !important;
}

.docCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.12);
}

.cardIcon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.cardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.cardTitle {
  margin: 0;
  font-size: 1.25rem;
}

.cardContent {
  flex: 1;
}